/* Fonts */
@font-face
{
  font-family: comfortaa;
  src: url('../assets/fonts/comfortaa.ttf') format('truetype'),
       url('../assets//comfortaa.eot') format('embedded-opentype');
}
@font-face
{
  font-family: comfortaa;
  src: url('../assets/fonts/comfortaa_bold.ttf') format('truetype');
  font-weight:bold;
}
@font-face
{
  font-family: comfortaa;
  src: url('../assets/fonts/comfortaa_light.ttf') format('truetype');
  font-style:italic;
}

/* Universal */
body
{
  background-image:url('../assets/images/shattered.png');
}

#page-container{
  font-family: comfortaa;  
  width:1000px;
  margin: 0 auto;
}

#title-container{
  width:1000px;
  margin:0 auto;
  height: 50px;
  background-color: #666;
  margin-top: 25px;
}

#title-container a{
  font-size:160%;
  width: 200px;
  height: 50px;
  line-height: 200%;
  text-align: center;
  background-color: #77ad77;
  margin: 0;
  color: #f9f9f9;
  float: left;
  text-decoration: none;

}
#title-container input{
  float: right;
  margin: 14px 14px 0 0;
}

#title-container p{
  float: right;
  margin: 14px 14px 0 0;
  color: #f9f9f9;
}

/* Navigation */
#side-menu-container{
  margin: 0;
  padding: 0;
  width: 200px;
  float: left;
}

.side-menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.side-menu li{
  width: 190px;
  height: 40px;
  background-color: #666;
  border: 5px solid #666;
  color: #f9f9f9;

}
.side-menu li:hover{
  background-color: #77ad77; 
  border: 5px solid #666;
  cursor: pointer;
}
.side-menu li a{
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 0 0 10px;
  padding: 0;
  line-height: 250%;

}

.main{
  text-decoration: none;
  color: #f9f9f9;
  display: block;
}
.sub{
}
.sub a:link{
  display:block;
  color: #666;  

  text-decoration: none !important;
}
.sub a:hover{
  color: #f9f9f9;
display:block;
  text-decoration: none !important;
}

#subreddit-menu{
  padding: 0;
  margin: 0;
  max-height:800px;
  overflow: auto;
  overflow-x: hidden;
}

#sub-menu-table{
  width: 200px;
  height: 20px;
  background-color: #f9f9f9;
  color: #666;
  font-size: 80%;
}

#sub-menu-table tr:hover{
  background-color: #77ad77;
  margin-left: 5px;
  color: #f9f9f9;
  cursor:pointer;
}
#sub-menu-table .sub{
  padding: 3px 0 1px 5px;
  text-decoration: none;
  color: inherit;
  display:block;
}

#sub-menu-table .count{
  width: 40px;
}

#loading-overlay{
  background-color: #f9f9f9;
  width: 800px;
  height: 900px;
  float: right;
}

/* Home Page */
#home-page{
  padding: 0;
  margin: 0;
  width: 800px;
  min-height: 800px;
  background-color: #f9f9f9;
  float: right;
}

#home-page h2{
  text-align: center; 
  color: #333;
  margin-top: 10%;
  margin-bottom: 0;
}

#details{
  color: #333;
  text-align: center;
}

#progress-details{
  color: #333;
  margin-top: 10px;
  text-align: center;
  font-size: 90%;
}

#input{
  margin-top: 25px;
  text-align: center;
}
#input input{
  width: 200px;
}

#user-name{
  margin-top: 4px;
}

#user-name-label{
  margin-top: 3px;
  margin-bottom: 7px;
}

#analyze-button{
  background-color: #77ad77;
  font-family: comfortaa;
  color: #f9f9f9;
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 75px;
  height: 25px;
  margin-top: 10px;
  border:none;
}

#error-message{
  color: #8d3030;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 80%;
  height: 20px;
}

#stop-button{
  background-color: #8d3030;
  font-family: comfortaa;
  color: #f9f9f9;
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 75px;
  height: 25px;
  border:none;
}

#status{
  height: 90px;
}
#status h4{
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

#status-message{
  text-align: center;
  color: #598282;
}

#post-count{
  font-size: 300%;
  text-align: center;
  margin: 0 0 -10px 0;
  padding: 0;
  color: #77ad77;
}

#center{
  text-align: center;
}

#explanation{
  margin: 20px 20px 0px 20px;
}

#explanation p{
  text-align: center;
  padding-top: 15px;
  color: #333;
  border-top: 2px solid #77ad77;
}

#explanation ul{
  font-size: 80%;
  font-family: arial;
}
#explanation ul li{
  padding: 10px;
}

#explanation a{
  color: #77ad77;
  text-decoration: none;
}
 
/* Loading Overlay */
#loading-overlay-status{
  text-align: center;
}
#loading-overlay-gif{
  text-align: center;
  margin-top: 20%;
}

/* Subreddit View */
#subreddits-page{
  display: none;
  padding: 0;
  margin: 0;
  width: 800px;
  min-height: 950px;
  background-color: #f9f9f9;
  float: right;
  font-family: arial;
}
#subreddits-page .subreddit-title{
  margin: 20px 10px 0 10px;
  color: #666;
  font-size: 200%;
  text-align: center;
}
#subreddits-page .subreddit-sub-menu{
  text-align: center;
  color: #666;
  margin: 0px 15px 20px 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
#subreddits-page .subreddit-sub-menu a{
  color: #77ad77;
  font-family: comfortaa;
  cursor: pointer;
}

.image-container{
  float: left;
  width: 80px;
  height: 80px;
  padding: 0 10px 0 20px;
}

#subreddits-page a{
  text-decoration: none;
  target-new: tab;
}
.user{
  color: #598282;
  font-size: 80%;
  font-weight: bold;
} 

.post{
  font-size: 80%;
  margin: 0px 10px 25px 20px;
}
.post-info{
  margin-top: 0px;
  color: #666;
  margin-left: 20px;
}
.post-comment{
  margin-left: 20px;
  margin-top: -10px;
}

.full-comments{
  margin-top: -10px;
}
.full-comments a{
  color: #598282;
  font-size: 90%;
  margin-left: 20px;
}

/* Overview View */
#overview-page{
  display: none;
  padding: 0;
  margin: 0;
  width: 800px;
  min-height: 650px;
  background-color: #f9f9f9;
  float: right;
  font-family: arial;
  text-decoration: none;
}
#overview-page a{
  text-decoration: none;
}
#overview-page table{
  padding-left: 20px;
  padding-bottom: 20px;
}
.overview-title{
  text-align: center;
  font-family: comfortaa;
  font-size: 150%;
  color: #77ad77;
}
.overview-details{
  padding: 5;
  font-size: 80%;
  color: #333;
}

.overview-heading{
  margin: 0 20px 10px 20px;
  padding: 0;
  font-size: 120%;
  font-family: comfortaa;
  border-bottom: 2px solid #77ad77;
}
#trophies{
  float: right;
  margin-right: 20px;
}
.trophy-title{
  font-family: comfortaa; 
  margin: 0 20px 5px -5px;
}
.trophy{
  font-size: 80%;
  margin: 0 0 5px 0;
  padding: 0;
}
#overview-stats{
  float: left;
}
.overview-stats-title{
  margin: 0 0 0 20px;
  font-family: comfortaa;
}

/* Charts View */
#charts-page{
  display: none;
  padding: 0;
  margin: 0;
  width: 800px;
  min-height: 950px;
  background-color: #f9f9f9;
  float: right;
  font-family: arial;
  text-decoration: none;
}

#pie-chart{
  width: 800px;
  height: 400px;
}
#column-chart{
  width: 800px;
  height: 400px;
}

#area-chart{
  width: 800px;
  height: 400px;
}

/* Footer */
#footer{
  width: 1000px;
  margin: 0 auto;
}
#footer p{
  text-align: center;
  margin-left: 200px;
  font-size: 80%;
}
#footer p a{
  color: #77ad77;
  text-decoration: none;
}
